<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Data Loader</title>
    <link rel="stylesheet" href="./resources.css" />
    <script src="./htmx.js"></script>
  </head>
  <body>
    <h1>Hullo Data</h1>
    <div id="datasets">
      <h2>Datastore Resources</h2>
      <table
        id="datastore-resources"
        hx-get="/resource/datastores"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-vals="js:{id: new URLSearchParams(window.location.search).get('id')}"
      ></table>

      <h2>Download Resources</h2>
      <table
        id="download-resources"
        hx-get="/resource/datafiles"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-vals="js:{id: new URLSearchParams(window.location.search).get('id')}"
      ></table>
    </div>
  </body>
</html>
